<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohai.system.dao.DictDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaohai.system.pojo.entity.DictData">
        <id column="id" property="id" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="dict_sort" property="dictSort" />
        <result column="dict_type" property="dictType" />
        <result column="dict_label" property="dictLabel" />
        <result column="dict_value" property="dictValue" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="style" property="style" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_by,
        created_time,
        updated_by,
        updated_time,
        id, dict_sort, dict_type, dict_label, dict_value, status, style, remark
    </sql>
    <select id="selectDictTypeList" resultType="com.xiaohai.common.daomain.DictDataEntity">
        select *
        from sys_dict_data
        where status = '0'
          and dict_type = #{dictType}
        order by dict_sort asc
    </select>


</mapper>
