<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohai.system.dao.FeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaohai.system.pojo.entity.Feedback">
        <id column="id" property="id" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="reason" property="reason" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_by,
        created_time,
        updated_by,
        updated_time,
        id, user_id, title, content, reason, status
    </sql>
    <select id="findFeedbackListByPage" resultType="com.xiaohai.system.pojo.dto.FeedbackDto">
        SELECT
        id,
        user_id AS userId,
        content,
        title,
        reason,
        status,
        ( SELECT  CASE WHEN nick_name IS NULL || nick_name = '' THEN username ELSE nick_name END FROM sys_user WHERE id = user_id ) AS username,
        ( SELECT avatar FROM sys_user WHERE id = user_id ) AS avatar,
        created_time AS createdTime
        FROM
        sys_feedback
        <where>
            <if test="query.title != null and query.title != ''">
                and title like CONCAT(#{query.title},'%')
            </if>
            <if test="query.status != null and query.status != ''">
                and status = #{query.status}
            </if>
            <if test="query.userId != null and query.userId != ''">
                and user_id = #{query.userId}
            </if>
        </where>
        ORDER BY
        created_time DESC
    </select>

</mapper>
