<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohai.system.dao.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaohai.system.pojo.entity.Role">
        <id column="id" property="id" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="remarks" property="remarks" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_by,
        created_time,
        updated_by,
        updated_time,
        id, code, name, remarks, status
    </sql>
    <select id="listByCodes" resultType="java.lang.String">
        SELECT r.code
        FROM `sys_role` AS r,
             `sys_user_role` ur
        WHERE r.`id` = ur.`role_id`
          AND ur.`user_id` = #{userId};
    </select>
    <select id="listByRoleIds" resultType="java.lang.Long">
        SELECT r.id
        FROM `sys_role` AS r,
             `sys_user_role` ur
        WHERE r.`id` = ur.`role_id`
          AND ur.`user_id` = #{userId};
    </select>

</mapper>
