<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohai.note.dao.ArticleTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaohai.note.pojo.entity.ArticleTag">
        <id column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="tag_id" property="tagId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, article_id, tag_id
    </sql>
    <select id="searchAllByArticleId" resultType="java.lang.Long">
        select tag_id as tagId from b_article_tag where article_id=#{articleId}
    </select>

</mapper>
