<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohai.note.dao.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaohai.note.pojo.entity.Comment">
        <id column="id" property="id" />
        <result column="created_time" property="createdTime" />
        <result column="parent_id" property="parentId" />
        <result column="article_id" property="articleId" />
        <result column="user_id" property="userId" />
        <result column="reply_user_id" property="replyUserId" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_time,
        id, parent_id, article_id, user_id, reply_user_id, content
    </sql>
    <select id="findCommentListByPage" resultType="com.xiaohai.note.pojo.dto.CommentDto">
        SELECT
        c.id,
        c.parent_id AS parentId,
        c.article_id AS articleId,
        c.user_id AS userId,
        CASE WHEN u.nick_name IS NULL || u.nick_name = '' THEN u.username ELSE u.nick_name END AS username,
        u.avatar,
        c.reply_user_id AS replyUserId,
        ( SELECT  CASE WHEN nick_name IS NULL || nick_name = '' THEN username ELSE nick_name END FROM sys_user WHERE id = replyUserId ) AS replyUsername,
        ( SELECT avatar FROM sys_user WHERE id = replyUserId ) AS replyAvatar,
        c.content,
        a.title,
        c.created_time AS createdTime
        FROM
        b_comment c
        LEFT JOIN b_article a ON a.id = c.article_id
        LEFT JOIN sys_user u ON u.id = c.user_id
        <where>
            <if test="query.content != null and query.content != ''">
                and c.content like CONCAT(#{query.content},'%')
            </if>
            <if test="query.username != null and query.username != ''">
               and u.username  like CONCAT(#{query.username},'%') or u.nick_name like CONCAT(#{query.username},'%')
            </if>
            <!--1:我的评论-->
            <if test="(query.discussant != null and query.discussant == 1)">
                and c.user_id = #{userId}
            </if>
            <!--2:回复我的-->
            <if test="query.discussant != null and query.discussant ==2">
                and c.reply_user_id = #{userId}
            </if>
            <!--来源-留言-->
            <if test="query.source != null and query.source ==2">
                and c.article_id = 0
            </if>
            <!--来源-文章-->
            <if test="query.source != null and query.source ==1">
                and c.article_id != 0
            </if>
        </where>
        ORDER BY
        c.created_time DESC
    </select>
    <select id="findCommentList" resultType="com.xiaohai.common.daomain.CommentTree">
        SELECT
            c.id,
            c.parent_id as parentId,
            c.article_id as articleId,
            c.user_id as userId,
            c.content,
            CASE WHEN u.nick_name IS NULL || u.nick_name = '' THEN u.username ELSE u.nick_name END AS username,
            u.avatar,
            a.title,
            c.created_time as createdTime
        FROM
            b_comment c
                LEFT JOIN b_article a ON a.id = c.article_id
                LEFT JOIN sys_user u ON u.id = c.user_id
        where
            c.article_id=#{articleId}
        ORDER BY
            c.created_time ASC
    </select>

</mapper>
