<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohai.note.dao.TagsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaohai.note.pojo.entity.Tags">
        <id column="id" property="id" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="name" property="name" />
        <result column="click" property="click" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_by,
        created_time,
        updated_by,
        updated_time,
        id, name, click, sort, status
    </sql>
    <select id="selectTagsArticleCount" resultType="com.xiaohai.note.pojo.dto.TagsDto">
        SELECT t.id,
               t.`name`,
               (SELECT count(1) FROM b_article_tag g LEFT JOIN b_article a on g.article_id=a.id where g.tag_id=t.id and a.is_push =1) as count,
               t.sort
        FROM
            `b_tags` t
        where
            status=0
        ORDER BY sort ASC
    </select>

</mapper>
