// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  //下面俩属性防止手机端出现横向滚动条
  overflow:hidden;
  overflow-y:auto;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  background: rgba(234, 233, 233, 0.98);
}
