:root {
  --theme_primary: #637dff;
  --indigo_primary: #8c5af8;
  --seagreen_primary: #099970;
  --context_primary: rgb(37, 38, 43);
  --divider_secondary: rgb(235, 235, 237);
  --color_box_shadow: rgba(0, 0, 0, .12);
  --color_box_shadow_hover: rgb(252, 191, 191);
}

.el-button-margin-left {
  margin-left: 0 !important;
}
.box-card:hover{
  box-shadow: 0 0 16px var(--color_box_shadow_hover);
}
.box-card-height{
  min-height: calc(100vh - 110px)
}
// 最小文字
.text-xs {
  font-size: .75rem;
}
// 小文字
.text-sm {
  font-size: .875rem;
}
.text-color {
  color: #6B7280 !important;
}

.entity-body{
  display: flex;
  width: 100%;
}
.entity-start{
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  gap: 1rem;
}
.entity-field-wrapper{
  display: inline-flex;
  max-width: 30rem;
  flex-direction: column;
  gap: .25rem;
}
.entity-field-title-body{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.entity-end{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.entity-dropdown{
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.know-button {
  font-size: 10px;
  margin-left: 10px;
  display: none; /* 默认隐藏按钮 */
  cursor: pointer;
}

.entity-body:hover .know-button {
  display: inline-block; /* 鼠标悬停时显示按钮 */
}
