:root{
  --theme_primary:#637dff;
  --indigo_primary:#8c5af8;
  --seagreen_primary:#099970;
  --context_primary:rgb(37, 38, 43);
  --divider_secondary:rgb(235, 235, 237);
  --color_box_shadow:rgba(0, 0, 0, .12);
  --color_box_shadow_hover:rgb(252, 191, 191);
}
